{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
<h1>Chambre</h1>
  <li>Chambre Classique</li>
  
  <li>Chambre Confort</li>
  <li>Chambre Suite</li>



{% endblock %}