{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
<h1 class="text-center">Chambre Classique</h1>

    <div >
      <img src="{{ asset('image/slider_1.webp')}}"  class="rounded "  >
    </div>
    <div >
     <p>Nos chambres confort sont spécialement pour donner pleinement satisfaction.</p>
     <p>40€/jour</p>
     <p>Chambres classique, les pieds dans l’eau. L'hôtel Le Barthélemy célèbre la beauté naturelle de son décor de rêve. La vue sur l'océan fait partie intégrante du décor, vous invitant à une évasion permanente le long de la baie aux eaux cristallines de Grand Cul de Sac. Cultivant l'art du détail avec raffinement, l'architecte d'intérieur Sybille de Margerie signe la décoration des 44 chambres et suites et des 2 villas du Barthélemy, entièrement aménagées pour les personnes à mobilité réduite. Véritable prolongement de la nature qui l'entoure, cette décoration est douce et élégante. Des écrans déroulants invisibles transforment les terrasses des chambres en enclaves privées et ombragées, afin de profiter en toute tranquillité de votre séjour à Saint-Barth. Dans les salles de bains, les produits de soins Diptyque prolongent le plaisir dans une exaltation de sensations olfactives bienfaisantes.</p>
      <button><a href="{{ path('reservation') }}"><b>pour reserver</b></a></button>
    </div>
 



{% endblock %}