{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
<h1>Restaurant</h1>
 
<p>Dîner gastronomique dans nos restaurants à Saint-Barth
Redécouvrez la cuisine française inspirée des îles au sein de nos restaurants & bars à l’élégance chic et décontractée. Au déjeuner, restez les pieds dans le sable et laissez Amis Plage vous apporter toutes les saveurs de la cuisine à votre table en bord de mer. Puis, tout au long de la journée, que ce soit pour des collations légères et smoothies au bar de la piscine Le Turquoise ou un room service 24h / 24, Le Barthélemy satisfera chacune de vos envies. Enfin, profitez d’une expérience gastronomique dans notre restaurant Amis St.Barth, où la Méditerranée et le chic de la Côte d’Azur sont mis à l’honneur dans un cadre exceptionnel, vue sur la baie. Amis est l’endroit idéal pour venir trinquer entre amis avec une coupe de champagne à la main ou passer la soirée autour d’un repas convivial en dégustant de délicieux plats accompagnés d’un Grands Cru au verre.</p>

<img src="{{ asset('image/restaurant.jpg')}} " class="rounded " height="350" widght="250"  alt="">
<h1>LES ENTREE</h1>
<ul>
<li>Artichaut poivrade en salade cru et cuit, noisettes du Piémont et vinaigrette au pralin         :45€</li>
<li>Avocat sur pain de campagne, coriandre, grenade, œuf poché bio  :
38€</li>
<li>
Tomate de saison farcie à la burrata, glacée aux épices douces et coulis vert fumé:
32€</li>
</ul>

<h1>LES PLATS</h1>
<ul>
<li>Linguine, champignons de Paris, pousses d'épinards et truffes de saison
42€</li>
<li>Saint-Pierre cuit au plat, riz pilaf, avocat, vinaigrette d'orange à la coriandre et jus de volaille acidulé
88€</li>
<li>
Côte de veau viennoise, pommes de terre grenaille rôties, roquette, parmesan et sauce tartare
78€</li>
<li>Filet de bœuf de race normande grillé ou poêlé, purée de pommes de terre, compotée d'échalotes au poivre de Phu Quoc
98€</li>
</ul>
<h1>LES FROMAGES / DESSERTS</h1>
<ul>
<li>Assiette de fromages affinés
36€</li>
<li>Sablé viennois
24€</li>
<li>Mille-feuille vanille
24€</li>
<li>Entremets madeleine
24€</li>
</ul>









{% endblock %}