{% extends 'base.html.twig' %}

{% block title %}Spa{% endblock %}

{% block body %}
<h1 class="text-center">Spa</h1>
<img src="{{ asset('image/spa.jpg')}} " class="rounded " height="450" widght="850">
<p>C’est en alliant l’action de l’eau chaude et de l’hydromassage qu’on obtient cette formidable sensation de bien-être tant prisée aussi bien en institut spécialisé qu’à domicile. Mais si le Spa connaît aujourd’hui un engouement grandissant, ses nombreux bienfaits sont quant à eux reconnus depuis des siècles…

Si l’on estime que le massage ayurvédique daterait d’il y a 6000 ans, de tous temps les massages ont été associés aux bains tant pour leurs vertus thérapeutiques que relaxantes. Il est d’ailleurs amusant de constater que partout où l’on trouve des sources d’eau chaude se développent des rituels relaxants spécifiques : on retrouve des bains chauds datant de l’Antiquité à Budapest, les bains  Nordiques existent depuis des siècles et sont étroitement liés à la pratique du Sauna…Tout comme en Orient qui mêle bains de vapeur (Hammam) et bains chauds.</p>

<h1>LES BIENFAITS DU SPA</h1>
<p>
Amélioration de la circulation sanguine, soulagement des tensions musculaires et articulaires ou encore diminution de la sensation de fatigue…Voici quelques bienfaits reconnus du Spa, qu’il est aujourd’hui possible de retrouver chez soi, lors de moments de détente à vivre seul ou à partager. </p>
<br>
<p>
Nordique France, spécialiste du Sauna et du Hammam depuis plus de 45 ans, dispose également d’un savoir-faire reconnu dans le domaine du Spa depuis plus de deux décennies. A ce titre, nous sommes en mesure de vous conseiller et vous accompagner dans le choix, que vous souhaitiez installer votre spa en intérieur ou installer votre spa en extérieur.</p>
<br>
<p>
Retrouvez les multiples sensations et bienfaits du Spa chez vous en découvrant notre univers complet dédié au Spa: Spa portable, Spa de nage, baignoire de balnéothérapie…Vous n’avez plus qu’à faire votre choix pour trouver le modèle le plus adapté à vos envies et à l’espace bien-être dont vous rêvez. </p>
  


{% endblock %}