{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
<h1>Chambre Suite</h1>
 

    <div >
    <img src="{{ asset('image/slider_9.webp')}}" class="rounded " >
    </div>
    <div >
      <h1>Chambre Suite</h1>
      <p>Nos suites sont à la fois spacieuse et lumineuse, n'hésitez plus!</p>
       <p>80€/jour</p>
       <button><a href="{{ path('reservation') }}"><b>pour reserver</b></a></button>
    </div>
  </div>


{% endblock %}